/* ***** VARIABLES ***** */

:root {
  --gray: #6c757d;
  --black: #22223b;
  --white: #fff;
  --blue: #308af0;
  --blue-dark: #187ced;
  --coal: #353f4f;
  --header-color: #313435;
  --h-gray: rgba(96, 96, 96, 0.13);

  --font-body: 'Inter', sans-serif;
  --font-heading: 'Plus Jakarta Sans', sans-serif;

  --shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  --border-radius: 1.6rem;

  --animate-duration: 1.5s;
  --animate-delay: 500ms;
  --animate-repeat: 1;
}

/* ***** RESET AND BASE ***** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.6666;
  /* height: 100%; */
  /* width: 100vw; */
  /* margin: 0; */
  overflow-x: hidden;
}

main {
  /* width: 100%; */
  overflow: hidden;
}

a {
  font-family: var(--font-heading);
  font-size: 1.85rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  color: var(--black);
}

.btn {
  border: 2px solid transparent;
  border-radius: 0.6rem;
  padding: 1rem 1.5rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid red;
}

/* ***** HEADER SECTION ***** */

header {
  width: 100%;
  padding: 2rem 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 450ms ease-in-out;
}

header.scrolled {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding: 1rem 0;
  margin: 0 auto;
}

nav img {
  max-height: 5.5rem;
}

.nav-svg {
  display: inline;
  width: 1.5rem;
  height: 1.5rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  font-size: 1.734rem;
  padding: 0;
}

.btn-nav-primary {
  font-size: 1.66464rem;
  background-color: var(--blue);
  color: var(--white);
}

.btn-nav-primary:hover {
  background-color: var(--white);
  border-color: var(--coal);
  color: var(--coal);
}

/* ***** HAMBURGER MENU ***** */

.hamburger {
  display: none;
}

.hamburger svg {
  height: 3rem;
}

/* ***** MOBILE MENU ***** */

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #fff;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-menu.active {
  display: block;
}

.mobile-nav-menu {
  list-style: none;
  padding: 0 0 1.5rem 0;
  margin: 0;
}

.mobile-nav-menu li {
  padding: 1rem 1.5rem;
}

/* ***** DIVIDER ***** */

.divider {
  width: 100%;
  height: 1px;
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(206, 211, 246, 0) 0,
    #bbb 38%,
    #999 64%,
    rgba(206, 211, 246, 0) 99%
  );
  opacity: 0.4;
  border: none;
  margin: 0;
}

/* ***** HERO SECTION ***** */

.hero-section {
  background-image: url(images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 17rem;
  width: 100%;
}

.hero-container {
  /* width: 65%; */
  padding: 0 20.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: #313435;
  font-size: 7.12096rem;
  font-weight: 700;
  line-height: 8.54515rem;
  text-align: center;
}

.hero-description {
  color: var(--gray);
  font-size: 2.0808rem;
  font-weight: 400;
  line-height: 3.46786rem;
  text-align: center;
  padding: 0 5%;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.hero-buttons {
  display: flex;
  gap: 1.5rem;
}

.btn-hero-primary,
.btn-hero-secondary {
  padding: 1.74325rem 3.2368rem;
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: 1.8496rem;
  font-weight: 600;
  line-height: 1.8496rem;
  text-align: center;
}

.btn-hero-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-hero-primary:hover {
  background-color: var(--blue-dark);
  border-color: var(--blue-dark);
}

.btn-hero-secondary {
  background-color: transparent;
  color: var(--black);
  border-color: var(--black);
}

.btn-hero-secondary:hover {
  color: var(--white);
  background-color: var(--blue-dark);
  border-color: var(--blue-dark);
}

.hero-image-container {
  width: 98%;
  margin: 0 auto;
  margin-top: 6rem;
}

.hero-image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

/* ***** STATISTICS SECTION ***** */

.statistic-section {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  padding: 10rem 0;
  width: 85%;
  margin: 0 auto;
}

.statistic-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.statistic-block {
  flex: 0 1 32%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
}

.statistic-number {
  font-family: var(--font-heading);
  font-size: 5.0112rem;
  font-weight: 700;
  line-height: 5.0112rem;
  letter-spacing: -1px;
}

.statistic-text {
  color: var(--gray);
  font-size: 1.9652rem;
  line-height: 2.65302rem;
}

/* ***** FEATURES SECTION ***** */

.features-section {
  padding-top: 10rem;
}

.features-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  align-items: center;
  gap: 4rem;
}

.features-text {
  flex: 0 1 auto;
  color: var(--gray);
}

.features-text span {
  font-size: 1.57216rem;
  font-weight: 600;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 3.2rem;
}

.features-text h2 {
  color: #313435;
  font-size: 5.3176rem;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 6.38112rem;
  margin-bottom: 2.5rem;
}

.features-text p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  margin-bottom: 1.8496rem;
}

.features-list {
  color: var(--gray);
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  list-style: disc;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.features-img-container {
  flex: 0 1 auto;
}

.features-img {
  width: 100%;
  height: auto;
  vertical-align: middle;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

/* ***** Main Features Section ***** */

.main-features-section {
  padding-top: 10rem;
  color: var(--gray);
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.main-features-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.main-features-card-container {
  flex: 0 1 56%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.main-features-container::after {
  width: 58%;
  height: 80%;
  top: 8%;
  left: -10%;
  position: absolute;
  content: '';
  z-index: -1;
  background-color: rgb(244, 244, 249);
}

.main-features-card {
  flex: 0 1 45%;
  color: #6c757d;
  background-color: var(--white);
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  border: 1px solid transparent;
  padding: 3.2rem 3.8rem 3.2rem 3.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 3rem;
  text-align: start;
}

.main-features-card img {
  width: 6.4rem;
  height: 6.4rem;
}

.main-features-card h6 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 2.312rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.main-features-card p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  text-align: start;
}

.main-features-text {
  flex: 0 1 40%;
}

.main-features-text span {
  color: #6c757d;
  font-size: 1.57216rem;
  line-height: 1.57216rem;
  font-weight: 600;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  text-align: start;
  display: block;
}

.main-features-text h2 {
  margin-bottom: 25px;
  font-family: var(--font-heading);
  color: #313435;
  font-size: 5.3176rem;
  font-weight: 700;
  line-height: 6.38112rem;
  text-align: start;
}

.main-features-text p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  margin-bottom: 1.8496rem;
}

/* ***** Secondary Features Section ***** */

.secondary-features-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  text-align: center;
  margin-bottom: 6rem;
}

.secondary-features-container {
  /* width: 60%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.secondary-features-title {
  font-family: var(--font-heading);
  color: var(--header-color);
  font-size: 6.0112rem;
  font-weight: 700;
  line-height: 7.21344rem;
  text-align: center;
}

.secondary-features-text {
  font-size: 2.1964rem;
  font-weight: 400;
  line-height: 3.66052rem;
  text-align: center;
}

/* ***** Secondary Features box Section ***** */

.secondary-features-box-section {
  /* width: 85%;
  margin: 0 auto; */
}

.secondary-features-box-container {
  display: flex;
  gap: 3rem;
}

.secondary-features-box {
  flex: 0 1 50%;
  background-color: #f4f4f9;
  padding: 4.5rem 5rem 3.5rem;
  border-radius: 1.6rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  text-align: start;
}

.secondary-features-box-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 0.6rem;
}

.secondary-features-box h5 {
  margin-bottom: 2rem;
  color: #313435;
  font-family: var(--font-heading);
  font-size: 3.0056rem;
  font-weight: 700;
  line-height: 3.60672rem;
}

.secondary-features-box-list {
  list-style: disc;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.secondary-features-box-img {
  margin-top: 4.5rem;
  width: 100%;
  height: auto;
  vertical-align: middle;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

/* ***** Incredible Features Section ***** */

.incredible-features-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  text-align: center;
}

.incredible-features-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
}

.incredible-features-heading-container {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  margin: 0 13.872rem 7rem;
}

.incredible-features-heading-container h2 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 6.0112rem;
  font-weight: 700;
  line-height: 7.21344rem;
}

.incredible-features-heading-container p {
  font-size: 2.1964rem;
  font-weight: 400;
  line-height: 3.66052rem;
}

.incredible-features-box-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.incredible-features-box {
  flex: 0 0 33%;
  padding: 0 1.3872rem;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.incredible-features-box h6 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 2.4276rem;
  font-weight: 700;
  line-height: 2.91312rem;
  margin-bottom: 1.2rem;
}

.incredible-features-box p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.incredible-features-box-img {
  max-height: 18rem;
  vertical-align: middle;
  margin-bottom: 3rem;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

/* ***** Features Content Section ***** */

.features-content-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.features-content-section-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  gap: 2rem;
}

.features-content-section-text {
  align-self: center;
  flex: 0 0 49%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.features-content-section-text-block1 {
  display: flex;
  flex-direction: column;
}

.features-content-section-text-block1 span {
  color: #6c757d;
  font-size: 1.57216rem;
  font-weight: 600;
  letter-spacing: 1.25px;
  line-height: 1.57216rem;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.features-content-section-text-block1 h2 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 5.3176rem;
  font-weight: 700;
  line-height: 6.38112rem;
  margin-bottom: 2.5rem;
}

.features-content-section-text-block1 p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  margin-bottom: 1.8496rem;
}

.features-content-section-text-block2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.features-content-section-text-block2-sub {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.features-content-section-text-block2-sub img {
  width: 3.2rem;
  height: 3.2rem;
}

.features-content-section-text-block2-sub h6 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 2.312rem;
  font-weight: 700;
  line-height: 2.7744rem;
}

.features-content-section-text-block2-sub p {
  font-size: 1.734rem;
  font-weight: 400;
  line-height: 2.88988rem;
}

.features-content-section-img-container {
  flex: 0 0 auto;
}

.features-content-section-img {
  max-width: none;
  display: inline-block;
  margin-left: 3rem;
  height: auto;
  vertical-align: middle;

  border-radius: var(--border-radius);
}

/* ***** Features Solutions Section ***** */

.features-solutions {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.features-solutions-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.features-solutions-text {
  text-align: center;
  width: 75%;
}

.features-solutions-text h2 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 6.0112rem;
  font-weight: 700;
  line-height: 7.21344rem;
}

.features-solutions-text p {
  margin-top: 2.2rem;
  font-size: 2.1964rem;
  font-weight: 400;
  line-height: 3.66052rem;
}

.features-solutions-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.features-solutions-box {
  flex: 0 0 49%;
  display: flex;
  gap: 3rem;
}

.features-solutions-box img {
  width: 6.4rem;
  height: 6.4rem;
  align-self: flex-start;
}

.features-solutions-box-sub {
  align-self: flex-start;
}

.features-solutions-box h5 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 2.5432rem;
  font-weight: 700;
  line-height: 3.05184rem;
  margin-bottom: 1.2rem;
}

.features-solutions-box p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

/* ***** Feature Solutions Progress Section ***** */

.feature-solutions-progress-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.feature-solutions-progress-container {
  /* width: 85%;
  margin: 0 auto; */
  background-color: #f4f4f9;
  padding: 6.5rem 6rem;
  border: 1px solid transparent;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.feature-solutions-progress-img {
  max-width: 58%;
  height: auto;
  vertical-align: middle;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.feature-solutions-progress-text {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature-solutions-progress-text img {
  width: 3.2rem;
  height: 3.2rem;
}

.feature-solutions-progress-text h5 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 3.2368rem;
  font-weight: 700;
  line-height: 3.88416rem;
  text-align: start;
  margin-bottom: 2rem;
}

.feature-solutions-progress-text ul {
  list-style: disc;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

.feature-solutions-progress-text p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  text-align: start;
  margin-bottom: 1.8496rem;
}

/* ***** Features Progress Content Section ***** */

.features-progress-content-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.features-progress-content-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.features-progress-content-accordion-container,
.features-progress-content-img-container {
  flex: 0 0 48%;
}

.features-progress-content-accordion {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.features-progress-content-accordion-item {
  width: 100%;
  color: #212529;
  background-color: transparent;
  padding: 2.2rem 0;
  border: none;
  border-bottom: 1.5px solid #e7e7e7;
}

.features-progress-content-accordion-item-thumb h5 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 3.0056rem;
  font-weight: 700;
  line-height: 3.0056rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.features-progress-content-accordion-item-thumb img {
  width: 2.4rem;
  height: 2.4rem;
}

.features-progress-content-accordion-item-panel {
  display: none;
  padding: 0;
  background-color: #f4f4f9;
  border-radius: 0 0 1.6rem 1.6rem;
  transition: all 0.15s ease-in-out;
}

.features-progress-content-accordion-item-panel p {
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  text-align: left;
  margin-bottom: 1.8496rem;
}

.features-progress-content-accordion-item.is-active
  .features-progress-content-accordion-item-panel {
  display: block;
  background-color: transparent;
  padding: 2.2rem 0 0;
  border: none;
}

.features-progress-content-img {
  width: 100%;
  height: auto;
  vertical-align: middle;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

/* ***** Features Video Content Section ***** */

.features-video-content-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  text-align: start;
}

.features-video-content-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.features-video-content-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.features-video-content-text h2 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 6.0112rem;
  font-weight: 700;
  line-height: 7.21344rem;
}

.features-video-content-text p {
  font-size: 2.1964rem;
  font-weight: 400;
  line-height: 3.66052rem;
}

.features-video-content-video {
  flex: 0 1 auto;
  width: 100%;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;

  border: 2px solid #e7e7e7;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

/* ***** Features Statistics Second Section ***** */

.features-statistics-second-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  text-align: center;
}

.features-statistics-second-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}

.features-statistics-second-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.features-statistics-second-block h2 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 7.3984rem;
  font-weight: 700;
  line-height: 7.3984rem;
}

.features-statistics-second-block p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

/* ***** Features Customers Section ***** */

.features-customers-section {
  margin: 10rem 0;
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  background-image: linear-gradient(
    180deg,
    rgba(246, 246, 250, 0.75) 45%,
    rgba(246, 246, 250, 0.03) 100%
  );
}

.features-customers-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  gap: 6rem;
}

.features-customers-text {
  flex: 0 1 48%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: start;
}

.features-customers-text span {
  color: #6c757d;
  font-size: 1.57216rem;
  letter-spacing: 1.25px;
  font-weight: 600;
  line-height: 1.57216rem;
  text-transform: uppercase;
}

.features-customers-text h3 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 4.3928rem;
  font-weight: 700;
  line-height: 5.27136rem;
}

.features-customers-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  align-items: center;
}

.features-customers-imgs img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  padding: 2.5rem;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

/* ***** Features Works Section ***** */

.features-works-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.features-works-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  align-items: center;
  gap: 6rem;
}

.features-works-img-container {
  flex: 0 1 54%;
}

.features-works-img-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.features-works-text-container {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: start;
}

.features-works-text-container span {
  color: #6c757d;
  font-size: 1.57216rem;
  letter-spacing: 1.25px;
  font-weight: 600;
  line-height: 1.57216rem;
  text-transform: uppercase;
}

.features-works-text-container h2 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 5.3176rem;
  font-weight: 700;
  line-height: 6.38112rem;
}

.features-works-list {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  list-style-type: disc;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
}

.features-works-list-item {
  flex: 0 1 auto;
}

/* ***** Features Marketing Section ***** */

.features-marketing-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.features-marketing-container {
  /* width: 85%;
  margin: 0 auto; */
  background-color: #f4f4f9;
  border: 1px solid transparent;
  border-radius: 1.6rem;
  padding: 8rem 6.5rem;

  display: flex;
  align-items: center;
  gap: 6rem;
}

.features-marketing-text-container {
  flex: 0 1 47%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: start;
}

.features-marketing-text-container span {
  color: #6c757d;
  font-size: 1.57216rem;
  letter-spacing: 1.25px;
  font-weight: 600;
  line-height: 1.57216rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.features-marketing-text-container h2 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 5.3176rem;
  font-weight: 700;
  line-height: 6.38112rem;
  margin-bottom: 1rem;
}

.features-marketing-text-container p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.features-marketing-img-container {
  flex: 0 1 47%;
}

.features-marketing-img-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

/* ***** Features Discover Section ***** */

.features-discover-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.features-discover-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  align-items: center;
  gap: 6rem;
}

.features-discover-img-container {
  flex: 0 1 54%;
}

.features-discover-img-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.features-discover-text-container {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: start;
}

.features-discover-text-container span {
  color: #6c757d;
  font-size: 1.57216rem;
  letter-spacing: 1.25px;
  font-weight: 600;
  line-height: 1.57216rem;
  text-transform: uppercase;
}

.features-discover-text-container h2 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 5.3176rem;
  font-weight: 700;
  line-height: 6.38112rem;
}

.features-discover-text-container p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.features-discover-text-container a {
  color: #308af0;
  font-size: 1.8496rem;
  font-weight: 600;
  line-height: 3.08254rem;
  text-decoration: none;
  padding: 0;
}

.features-discover-text-container a span {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.features-discover-text-container a:hover {
  color: var(--coal);
}

.features-discover-text-container a:hover span {
  color: inherit;
}

/* ***** Testimonials Section ***** */

.testimonials-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.testimonials-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.testimonials-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.testimonials-text-container h2 {
  color: #313435;
  font-family: var(--font-heading);
  font-size: 6.0112rem;
  font-weight: 700;
  line-height: 7.21344rem;
}

.testimonials-text-container p {
  font-size: 2.1964rem;
  font-weight: 400;
  line-height: 3.66052rem;
}

.testimonials-reviews-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.testimonials-review {
  flex: 0 1 33.333%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonials-review-ratings {
  color: #ffbf15;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.testimonials-review-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.testimonials-review-text h5 {
  color: #313435;
  font-size: 2.5432rem;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 3.05184rem;
}

.testimonials-review-text p {
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.testimonials-review-author {
  display: flex;
  flex-direction: column;
}

.testimonials-review-author h6 {
  color: #313435;
  font-size: 1.8496rem;
  font-weight: 700;
  font-family: var(--font-heading);
  line-height: 3.08254rem;
}

.testimonials-review-author p {
  color: #6c757d;
  font-size: 1.6646rem;
  font-weight: 300;
  line-height: 1.6646rem;
}

.testimonials-review-author p span {
  color: #22223b;
  font-size: 1.6646rem;
  font-weight: 400;
  line-height: 1.6646rem;
  cursor: pointer;
}

.testimonials-btn-container {
  width: 5%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ****** Banner Section ****** */

.banner-section {
  padding-top: 10rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.banner-container {
  /* width: 85%; */
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.999),
      rgba(0, 0, 0, 0.1)
    ),
    url(images/banner-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.banner-block {
  padding: 8rem 6rem;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #313435;
}

.banner-block h4 {
  font-family: var(--font-heading);
  font-size: 3.6992rem;
  font-weight: 700;
  line-height: 4.43904rem;
}

.banner-block p {
  font-size: 1.9652rem;
  font-weight: 600;
  line-height: 3.2752rem;
}

.banner-block-btn-container {
  display: flex;
  gap: 1.5rem;
}

.btn-banner-primary,
.btn-banner-secondary {
  padding: 1.29472rem 2.7744rem;
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: 1.8496rem;
  font-weight: 600;
  line-height: 1.8496rem;
  text-align: center;
}

.btn-banner-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-banner-primary:hover {
  background-color: var(--blue-dark);
  border-color: var(--blue-dark);
}

.btn-banner-secondary {
  background-color: transparent;
  color: var(--black);
  border-color: var(--black);
}

.btn-banner-secondary:hover {
  color: var(--white);
  background-color: var(--coal);
  border-color: var(--coal);
}

/* ****** Footer Section ****** */

.footer-section {
  padding-top: 10rem;
  padding-bottom: 5rem;
  color: #6c757d;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
}

.footer-container {
  /* width: 85%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.footer-section-text-container {
  display: flex;
  gap: 5rem;
}

.footer-block {
  flex: 0 1 25%;
}

.footer-block h6 {
  color: #313435;
  font-size: 2.00034rem;
  font-weight: 700;
  font-family: var(--font-heading);
  line-height: 2.00034rem;
  margin-bottom: 2.5rem;
}

.footer-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-list li:last-child {
  margin-bottom: 2rem;
}

.footer-list li a {
  color: #6c757d;
  font-size: 1.75712rem;
  font-weight: 400;
  line-height: 2.92842rem;
  padding: 0;
}

.footer-form-container {
  display: flex;
  flex-direction: column;
}

.footer-form {
  display: flex;
}

.footer-form input {
  flex: 1;
  color: #6c757d;
  background-color: #fafafd;
  border: 1.5px solid #e7e7e7;
  font-size: 1.8496rem;
  font-weight: 400;
  line-height: 3.08254rem;
  padding: 1rem;
}

.footer-form a {
  color: var(--blue);
  font-size: 2.8496rem;
  font-weight: 600;
  line-height: 3.08254rem;
  margin-left: -6rem;
}

.footer-section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section-bottom-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-section-bottom-list li a img {
  max-width: 3.2rem;
  height: auto;
  vertical-align: middle;
}

/* ******************** */
/* ***** Media Queries ***** */
/* ******************** */

/*

@media (max-width: 1200px) {
  html {
    
    font-size: 50%;
  }

  .statistic-container {
    gap: 4rem;
  }

  .statistic-block {
    flex-direction: column;
    align-items: center;
  }

  .statistic-block p {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  html {
   
    font-size: 43.75%;
  }

  .main-features-container {
    flex-direction: column;
    align-items: center;
  }

  .main-features-container::after {
    width: 95%;
    height: 45%;
  }

  .secondary-features-box-container,
  .features-solutions-box-container {
    flex-direction: column;
  }

  .features-content-section-container,
  .feature-solutions-progress-container,
  .features-progress-content-container {
    flex-direction: column;
    gap: 4rem;
  }

  .features-progress-content-accordion-item-thumb h5 {
    gap: 4rem;
  }
}

@media (max-width: 740px) {
  html {
   
    font-size: 37.5%;
  }

  .hero-buttons,
  .statistic-container,
  .features-container,
  .features-customers-container,
  .features-works-container,
  .features-marketing-container,
  .features-discover-container {
    flex-direction: column;
  }

  .main-features-container {
    flex-direction: column;
    align-items: center;
  }

  .main-features-container::after {
    height: 50%;
  }

  .incredible-features-box-container {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
*/

/* Desktop container utility class: */

/* 2xl */
@media (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  html {
    font-size: 60%;
  }
}

/* xl */
@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  /* html {
    font-size: 58%;
  } */
}

/* lg */
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  html {
    font-size: 50%;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  html {
    font-size: 38%;
  }
  .nav-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

/* sm */
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  html {
    font-size: 28%;
  }
}

/* xs */
@media (max-width: 480px) {
  .container {
    max-width: 420px;
  }
  html {
    font-size: 20%;
  }
}

/* xxs */
@media (max-width: 320px) {
  .container {
    width: 100%;
  }
  html {
    font-size: 16%;
  }
}
